* {
   font-family:'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
   color: rgb(53, 51, 51);
}
main{
    background-color: #eeeeee;
    text-align: center;
    margin: 1.8em 0.1em;
    border-radius: 0.5%;
}
#img-div {
    background-color: white;
    padding: 1em;
    margin: 0 1em;
}
#image {
    padding-bottom: 0.8em;
}
#tribute-info {
    padding: 2em 0 2em 0;
}
#history {
    text-align: start;
    width: 35rem;
    margin: auto;
}
#history li {
    padding: 0.5em 0;
}
#tribute-link {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 103, 155);
    font-size: 20px;
    font-weight: 700;
}
.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 2em;
}